<ion-header>
  <ion-toolbar class="toolbar-main">
    <ion-buttons slot="end">
      <ion-button (click)="this._auth.desloguear()" color="sunny">
        <ion-icon name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Feas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-page">
  <div class="flex-v width-100 center-horizontal center-vertical waiting"
    *ngIf="this._fotoServ.esperando == true &&
    this._fotoServ.feas.length == 0">
    Espere un momento...<ion-spinner color="sunny"></ion-spinner>
  </div>
  <div class="width-100 center-horizontal center-vertical waiting"
    *ngIf="this._fotoServ.esperando == false &&
    this._fotoServ.feas.length == 0">
    No hay imagenes.
  </div>
  <div class="width-100" class="list-main">
    <div *ngFor="let foto of this._fotoServ.feas" class="list-pic">
      <table align="center">
        <tr>
          <th colspan="3">
            <img [src]="foto.link" class="img-grid">
          </th>
        </tr>
        <tr class="center-vertical center-horizontal">
          <th>
            <ion-button shape="round" color="barnred" fill="clear"
              (click)="this._fotoServ.votar(foto)">
              <ion-icon slot="icon-only" name="thumbs-down">
              </ion-icon>
            </ion-button>
          </th>
          <th>{{foto.fecha | date : ['dd/MM/yyyy HH:mm']}}</th>
          <th>
            <ion-button shape="round" color="barnred" fill="clear"
              (click)="this._fotoServ.ver(foto,false);">
              <ion-icon slot="icon-only" name="eye">
              </ion-icon>
            </ion-button>
          </th>
        </tr>
        <tr>
          <th colspan="3">
            <div class="extra-padding">{{foto.usuario}}</div>
          </th>
        </tr>
      </table>
    </div>
  </div>
</ion-content>