<ion-header>
  <ion-toolbar class="toolbar-feas">
    <ion-buttons slot="start">
      <ion-button (click)="this._auth.desloguear()" color="bdazzledblue">
        <ion-icon name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Feas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-feas">
  <div *ngIf="this._fotoServ.feas.length == 0">
    <div class="flex-v width-100 center-horizontal center-vertical waiting"
      *ngIf="this._fotoServ.esperando == true">
      Espere un momento...<ion-spinner color="bdazzledblue"></ion-spinner>
    </div>
    <div class="width-100 center-horizontal center-vertical waiting"
      *ngIf="this._fotoServ.esperando == false">
      No hay imagenes.
    </div>
  </div>
  <ion-slides
    #slideAux class="height-100 width-100"
    *ngIf="this._fotoServ.feas.length != 0">
    <ion-slide *ngFor="let foto of this._fotoServ.feas" class="list-pic
      list-pic-feas">
      <img [src]="foto.link" (click)="this._fotoServ.mostrarPop(foto)">
    </ion-slide>
  </ion-slides>
</ion-content>