// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/lato/CaviarDreams.ttf");
}
@font-face {
  font-family: "Lato Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/lato/CaviarDreams_Bold.ttf");
}

:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  .ion-color-barnred {
    --ion-color-base: #48593a;
    --ion-color-base-rgb: 72, 89, 58;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #3f4e33;
    --ion-color-tint: #5a6a4e;
  }

  .ion-color-barnredsunny {
    --ion-color-base: #48593a;
    --ion-color-base-rgb: 72, 89, 58;
    --ion-color-contrast: #f6e7e7;
    --ion-color-contrast-rgb: 246, 231, 231;
    --ion-color-shade: #3f4e33;
    --ion-color-tint: #5a6a4e;
  }

  .ion-color-mangotango {
    --ion-color-base: #718b5b;
    --ion-color-base-rgb: 113, 139, 91;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #637a50;
    --ion-color-tint: #7f976b;
  }

  .ion-color-sunny {
    --ion-color-base: #f6e7e7;
    --ion-color-base-rgb: 246, 231, 231;
    --ion-color-contrast: #000000;
    --ion-color-contrast-rgb: 0, 0, 0;
    --ion-color-shade: #d8cbcb;
    --ion-color-tint: #f7e9e9;
  }

  .ion-color-oxfordblue {
    --ion-color-base: #7f7f7f;
    --ion-color-base-rgb: 127, 127, 127;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #707070;
    --ion-color-tint: #8c8c8c;
  }

  .ion-color-bdazzledblue {
    --ion-color-base: #bfbfbf;
    --ion-color-base-rgb: 191, 191, 191;
    --ion-color-contrast: #000000;
    --ion-color-contrast-rgb: 0, 0, 0;
    --ion-color-shade: #a8a8a8;
    --ion-color-tint: #c5c5c5;
  }

  .ion-color-lightcrimson {
    --ion-color-base: #c17767;
    --ion-color-base-rgb: 193, 119, 103;
    --ion-color-contrast: #000000;
    --ion-color-contrast-rgb: 0, 0, 0;
    --ion-color-shade: #aa695b;
    --ion-color-tint: #c78576;
  }

  .ion-color-amaranthpurple {
    --ion-color-base: #210203;
    --ion-color-base-rgb: 33, 2, 3;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #1d0203;
    --ion-color-tint: #371b1c;
  }

  --ion-font-family: "Lato";
}
