.background-card {
  --background: #48593a;
  --color: #f6e7e7;
}

ion-card,
ion-card-title,
ion-label,
div {
  --color: #f6e7e7 !important;
  color: #f6e7e7 !important;
}

.img-logo   {
  height: 4rem;
  width: auto;
}

.transparent-item {
  --background: transparent;
}
