.splash {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: #ff7400;
  background: radial-gradient(circle, #48593a 0%, #48593a 100%);
}

.spinner-landscape {
  width: 100vw;
  height: 100vw;
}

.spinner {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-portrait {
  width: 100vh;
  height: 100vh;
}
