.btn {
  border: none;
  border-radius: 1rem;
  font-size: 3rem;
  background-position: center;
  transition: background 0.8s;

  ion-icon {
    font-size: 4rem;
  }

  &-a {
    background: #bfbfbf;
    color: #7f7f7f;
  }
  &-b {
    background: #c17767;
    color: #210203;
  }
}

.btn:active {
  background-size: 100%;
  transition: background 0s;
  background: rgb(80, 80, 80);
  color: white;
}
