.btn {
  border: none;
  border-radius: 1rem;
  font-size: 3rem;
  background-position: center;
  transition: background 0.8s;

  ion-icon {
    font-size: 4rem;
  }

  &-a {
    background: #f46197;
    color: #a72052;
  }
  &-b {
    background: #31598a;
    color: #0a2342;
  }
}

.btn:active {
  background-size: 100%;
  transition: background 0s;
  background: firebrick;
  color: white;
}
