.extra-info {
  font-size: 1.2rem;
  color: #f6e7e7;
  padding: 0rem 1.5rem;
}

.extra-padding {
  margin: 0.5rem 0.5rem !important;
}

.toolbar-extra {
  --background: #f6e7e7;
  --color: #48593a;
}
