ion-toolbar {
  --background: black;
  --ion-color-base: black !important;
}

.background-modal {
  --background: black;
}

.expanded-footer {
  height: 4.5rem !important;
}

.img-grid-height {
  max-height: 100%;
  width: auto;
}

.extra-info {
  background: black;
  font-size: 1.2rem;
  color: white;

  &-others {
    padding: 0rem 1.5rem;
  }
}
